@model IEnumerable<Karaoke_project.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item " asp-action="Index">Quản lý phòng Karaoke</a>
            <a class="breadcrumb-item active" asp-action="Index">Danh sách phòng karoke</a>
        </nav>
    </div>
</div>
<div class="container-fluid" style="padding-top: 20px">
    <div class="page-header no-gutters has-tab">
        <h1 class="text-center">Danh sách Phòng Karaoke</h1>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Tên Phòng</th>
                        <th scope="col">Loại phòng</th>
                        <th scope="col">Giá tiền</th>
                        <th scope="col" class="colActive">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                     <tr>
                         <th scope="row">@item.Id</th>
                         <td>
                            @item.Name
                         </td>
                        @if (item.TypeRoom == 1)
                        {
                            <td>Phòng Vip</td>
                        }
                        @if (item.TypeRoom == 2)
                        {
                            <td>Phòng cao cấp</td>
                        }
                        @if (item.TypeRoom == 3)
                        {
                            <td>Phòng thường</td>
                        }
                         <td>
                            @item.Price.Value.ToString("#,##0") VNĐ
                         </td>
                         <td class="colActive">
                            <a class="btn btn-success btn-tone m-r-5 " asp-area="Admin" asp-controller="Rooms" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a class="btn btn-primary btn-tone m-r-5 " asp-area="Admin" asp-controller="Rooms" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="btn btn-danger btn-tone m-r-5 " asp-area="Admin" asp-controller="Rooms" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                         </td>
                     </tr>
                         }
                     }
                </tbody>
            </table>
        </div>
    </div>
</div>

