@model Karaoke_project.Models.Food

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-action="Index">Quản lý món ăn</a>
            <span class="breadcrumb-item active">Xem chi tiết món ăn</span>
        </nav>
    </div>
</div>
<div class="container-fluid" style="padding-top: 20px">

    <div class="page-header no-gutters has-tab">
        <h1 class="text-center">CHI TIẾT MÓN ĂN</h1>
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <div class="avatar avatar-image rounded" style="height: 150px; width: 150px">
                        <img src="~/image/imageFood/@Model.Image" alt="">
                    </div>&emsp;
                </tr>
                <tr>
                    <td>Tên món ăn:</td>
                    <td class="text-dark font-weight-semibold">@Model.Name</td>
                </tr>
                <tr>
                    <td>Giá tiền:</td>
                    <td>@Model.Price</td>
                </tr>
                <tr>
                    <td>Số lượng:</td>
                    <td>@Model.Quantity</td>
                </tr>
                <tr>
                    <td>Loại món ăn:</td>
                    <td>@Model.IdCategoryNavigation.Name</td>
                </tr>
            </tbody>
        </table>
        <hr />
        <div>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id"><i class="anticon anticon-edit"></i>Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
        </br>
    </div>
</div>

