@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Karaoke_project.Models.Food>

@{
    int currentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Quản lý món ăn" + currentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-action="Index">Quản lý món ăn</a>
            <a class="breadcrumb-item active" asp-action="Index">Danh sách món ăn : Page @currentPage</a>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h1 class="text-center">DANH SÁCH MÓN ĂN</h1>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" id="idCate" name="idCate" style="min-width: 200px;" asp-items="ViewBag.IdCategory">
                            <option value="0" selected>Chọn loại món ăn</option>
                            <option value="0" >Tất cả</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Ảnh</th>
                        <th scope="col">Tên món ăn</th>
                        <th scope="col">Giá tiền</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Loại thức ăn</th>
                        <th scope="col" class="colActive">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td>
                                    <div class="avatar avatar-image rounded" style="height: 40px; width: 40px">
                                        <img src="~/image/imageFood/@item.Image" alt="">
                                    </div>
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @String.Format("{0:0,0}", @item.Price) VNĐ
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>
                                    @item.IdCategoryNavigation.Name
                                </td>
                                <td class="colActive">
                                    <a class="btn btn-success btn-tone m-r-5 " asp-area="Admin" asp-controller="Foods" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a class="btn btn-primary btn-tone m-r-5 " asp-area="Admin" asp-controller="Foods" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a class="btn btn-danger btn-tone m-r-5 " asp-area="Admin" asp-controller="Foods" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            jQuery("#idCate").change(() => {
                RoleID = $("#idCate :selected").val();
                RoleID = parseFloat(RoleID);
                console.log(RoleID)
                $('#idCate option').removeAttr('selected');
                $("#idCate > [value =" + RoleID + "]").attr("selected", "true");
                $.ajax({
                    url: '/Admin/Foods/Fillter',
                    dataType: "json",
                    type: "GET",
                    data: {
                        RoleID: RoleID
                    },
                    async: true,
                    success: (results) => {
                        if (results.status == "Success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: (xhr) => {
                        alert("Error");
                    }
                })
            })
        })
    </script>
}