@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Karaoke_project.Models.User>

@{
    int currentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Quản lý tài khoản truy cập" + currentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item " asp-action="Index">Quản lý quyền truy cập</a>
            <a class="breadcrumb-item active" asp-action="Index">Danh sách tài khoản truy cập</a>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h1 class="text-center">Danh sách quyền truy cập</h1>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" id="idRole" name="idRole" style="min-width: 200px;" asp-items="ViewBag.Role">
                            <option value="0" disabled selected>Chọn quyền truy cập</option>
                            <option value="0">Tất cả</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table" id="data-table">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Avatar</th>
                        <th scope="col">Username</th>
                        <th scope="col">Họ tên</th>
                        <th scope="col">Role</th>
                        <th scope="col" class="colActive">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            @if (item.Role != 1)
                            {
                                <tr>
                                    <th scope="row">@item.Id</th>
                                    <td>
                                        <div class="avatar avatar-image rounded" style="height: 40px; width: 40px">
                                            <img id="image" src="~/image/avatar/@item.Avatar" alt="">
                                        </div>
                                    </td>
                                    <td>
                                        @item.Username
                                    </td>
                                    <td>
                                        @item.Hoten
                                    </td>
                                    <td>
                                        @item.RoleNavigation.Name
                                    </td>
                                    <td class="colActive">
                                        <a class="btn btn-success btn-tone m-r-5 " asp-area="Admin" asp-controller="AdminUsers" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a class="btn btn-primary btn-tone m-r-5 " asp-area="Admin" asp-controller="AdminUsers" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a class="btn btn-danger btn-tone m-r-5 " asp-area="Admin" asp-controller="AdminUsers" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example" class="d-flex justify-content-end p-r-150">
                <ul class="pagination">
                    <pager class="pager-container text-right" list="@Model" asp-area="Admin" asp-controller="AdminUsers" asp-route-RoleID ="@ViewBag.CurrentRoleID" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            jQuery("#idRole").change(() => {
                RoleID = $("#idRole :selected").val();
                RoleID = parseFloat(RoleID);
                console.log(RoleID)
                $('#idRole option').removeAttr('selected');
                $("#idRole > [value =" + RoleID + "]").attr("selected", "true");
                $.ajax({
                    url: '/Admin/AdminUsers/Fillter',
                    dataType: "json",
                    type: "GET",
                    data: {
                        RoleID: RoleID
                    },
                    async: true,
                    success: (results) => {
                        if (results.status == "Success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: (xhr) => {
                        alert("Error");
                    }
                })
            })
        })
    </script>
}

