@model IEnumerable<Karaoke_project.Models.Bill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-action="Index">Quản lý đặt phòng</a>
            <a class="breadcrumb-item active" asp-action="Index">Danh sách phòng đã đặt</a>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h1 class="text-center">DANH SÁCH HÓA ĐƠN ĐẶT BÀN</h1>
        <div class="table-responsive">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Start Date</label>
                        <input placeholder="Select date" type="date" id="start-date" class="form-control">
                        <span id="errorDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">End Date</label>
                        <input placeholder="Select date" type="date" id="end-date" class="form-control">
                        <span id="errorDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <table id="listBill" class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th scope="col">
                            Thời gian tạo
                        </th>
                        <th scope="col">
                            Ngày đặt
                        </th>
                        <th scope="col">
                            Giờ bắt đầu
                        </th>
                        <th scope="col">
                            Giờ kết thúc
                        </th>
                        <th scope="col">
                            Tổng giá tiền
                        </th>
                        <th scope="col">
                            Trạng thái
                        </th>
                        <th scope="col">
                            Tên khách hàng
                        </th>
                        <th scope="col">
                            Phòng đặt
                        </th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody id="rowBill">
                    @foreach (var item in Model)
                    {
                        <tr id="bill-@item.Id" data-id="@item.Id" data-customer="@item.IdCusNavigation.Hoten" data-room="@item.IdRoomNavigation.Name">
                            <td>
                                @item.CreateAt.ToString()
                            </td>
                            <td>
                                @{var date = item.DateBook.ToString().Split(" ");}
                                @date[0]
                            </td>
                            <td>
                                @{var checkIn = item.CheckIn.ToString().Split(":");}
                                @checkIn[0]:@checkIn[1]
                            </td>
                            <td>
                                @{var checkOut = item.CheckOut.ToString().Split(":");}
                                @checkOut[0]:@checkOut[1]
                            </td>
                            <td>
                                @String.Format("{0:0,0}", item.Total) VND
                            </td>
                            <td>
                                @if (item.Status == 0)
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-success badge-dot m-r-10"></div>
                                        <div>Đã thanh toán</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-danger badge-dot m-r-10"></div>
                                        <div>Chưa thanh toán</div>
                                    </div>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCusNavigation.Hoten)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdRoomNavigation.Name)
                            </td>
                            <td>
                                <a class='btn btn-success btn-tone m-r-5' asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a class='btn btn-primary btn-tone m-r-5' asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a class='btn btn-danger btn-tone m-r-5' asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
        var billArray = [];
        $('#rowBill tr').each(function () {
            let data = {
                id: $(this).data('id'),
                customer: $(this).data('customer'),
                room: $(this).data('room')
            }
            billArray.push(data)
        });
        console.log(billArray)

        $(document).ready(function () {
            $("#start-date").val(convert(firstDay));
            $("#end-date").val(convert(lastDay));

            jQuery("#end-date").change(() => {
                searchBillStartEnd()
            })
            jQuery("#start-date").change(() => {
                searchBillStartEnd()
            })
        });


        function searchBillStartEnd() {
            var startDate = $("#start-date").val();
            var endDate = $("#end-date").val();
            $("#rowBill").empty();
            $.ajax({
                url: '/Admin/Bills/getBillStartEnd',
                dataType: "json",
                type: "GET",
                data: {
                    startDate: startDate,
                    endDate: endDate
                },
                async: true,
                success: (results) => {
                    console.log(results)
                    if (results.status == "Failed") {
                        alertify.notify(results.message, "error", 7)
                    } else {
                        let data = results.data.$values
                        billArray.forEach((b) => {
                            data.forEach((e) => {
                                if (b.id == e.id) {
                                    let createAt = convertDMY(new Date(e.createAt));
                                    let dateBook = convertDMY(new Date(e.dateBook));
                                    let checkIn = formatTime(e.checkIn)
                                    let checkOut = formatTime(e.checkOut)
                                    let totalPrice = convertVND(e.total)
                                    let nameCus = b.customer
                                    let nameRoom = b.room
                                    let tr =
                                        "<tr>" +
                                            "<td>" + createAt + "</td>" +
                                            "<td>" + dateBook + "</td>" +
                                            "<td>" + checkIn + "</td>" +
                                            "<td>" + checkOut + "</td>" +
                                            "<td>" + totalPrice + "</td>"+
                                            "<td>" + statusChange(e.status) + "</td>" +
                                            "<td>" + nameCus + "</td>" +
                                            "<td>" + nameRoom + "</td>" +
                                            "<td>" +
                                                "<a class='btn btn-success btn-tone m-r-5' asp-action='Details' asp-route-id='" + e.id + "'>Details</a> |" +
                                                "<a class='btn btn-primary btn-tone m-r-5' asp-action='Edit' asp-route-id='" + e.id + "'>Edit</a> |" +
                                                "<a class='btn btn-danger btn-tone m-r-5' asp-action='Delete' asp-route-id='" + e.id + "'>Delete</a> |"+
                                            "</td>" +
                                        "</tr> "
                                    console.log(tr)
                                    $('#listBill > tbody:last').append(tr);
                                }
                            })
                        })
                    }
                },
                error: (xhr) => {
                    alert("Error");
                }
            });
        }

        function statusChange(status) {
            let div = ""
            if (status == 0) {
                div = "<div class='d-flex align-items-center'>" +
                    "<div class='badge badge-danger badge-dot m-r-10'></div>" +
                    "<div>Chưa thanh toán</div>" +
                    "</div>"

            } else {
                div = "<div class='d-flex align-items-center'>"+
                    "<div class='badge badge-success badge-dot m-r-10' ></div >"+
                    "<div>Đã thanh toán</div>"+
                    "</div >"
            }
            return div
        }
    </script>
}